#container {
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    padding: 50px 350px 50px 50px;
}

#box-right {
    /* design */
    width: 100%;
    height: max-content;
    background-color: #fdfdfd;
    border-radius: 25px;
    /* layout */
    box-sizing: border-box;
    gap: 50px;
}

#container #box-right .head-form {
    width: 100%;
    height: max-content;
}

#container #box-right #form-group .form-label select {
    max-width: 400px;
}

#container #box-right #form-group .form-label textarea {
    max-width: 815px;
    height: 25vh;
    min-height: 200px;
    max-height: 400px;
}

#container #box-right #form-group .form-label input[type="file"] {
    max-width: 815px;
}

.form-label {
    width: 100%;
    height: max-content;
    justify-content: normal;
    gap: 5px;
}

.form-label label {
    width: 250px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #181818;
}

#container #box-right #doubel-button button {
    border-radius: 10px;
}

#back {
    margin-left: -125%;
    justify-content: center;
}

#next {
    justify-content: center;
}

#start {
    align-items: flex-start;
}